<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBook</title>
</head>
<body>
    <h1 align="center">Curso de Node.js</h1>

    <% console.log('isSelectCrud: ' + isSelectCrud); %>
    <% console.log('isCreateBook: ' + isCreateBook); %>

    <% if (isSelectCrud != null) { %>
        
        <%- include('./components/selectCrud', { options }); %>

    <% } %> 
    <% if (isCreateBook != null) { %>
    
        <%- include('./components/createBook'); %>

    <% } else if (isListBooks != null) { %>
        
        <%- include('./components/listBook', { getBooks }); %>
    
    <% } %>
    <% if (isUpdateBook != null) { %>
    
        <%- include('./components/updateBook'); %>
    
    <% } else if (isDeleteBook != null) { %>
    
        <%- include('./components/deleteBook'); %>

    <% } %>

</body>
</html>